<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">Rails Blog</a>
        <a href="/essays">Essays</a>
        <a href="/reading-list">Reading List</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
        {{ content }}
    </section>
    <footer>
        <p>Wanna get in touch? Hit me up on Twitter <a href="x.com/zhephyn">@zhephyn</a></p>
    </footer>
</body>
</html>